.f-wrapper {
  margin-top: 3rem;
  background-color: black;
  color: yellow;
}

.f-container {
  gap: 25rem;
}

.f-right {
  padding: 1rem;
  margin: 1rem;
  gap: 0.5rem;
}

.menu {
  gap: 1rem;
}

.f-right.primaryText {
  color: yellow;
  background-color: yellow;
}

@media (max-width: 600px) {
  .f-container {
    gap: 2px;
  }

  .f-right {
    margin-left: 94px;
  }
}
