
.App{
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1){

    background-color: var(--black);
    position: relative;
}

.white-gradeint{
     
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(195 195 184 / 52%);
    filter:blur(100px);
    border-radius: 100px;
}